@use './_variables.scss' as *;

body {
  margin: 0;
  padding: 0;
  background: $background-color;
  font-family: $font-family;
  min-height: 100vh;
  padding-top: 60px;
}

.lol-champ-card {
  background-color: $card-background;
  border-radius: 8px;
  color: $card-color;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &-img {
    width: 100%;
    border-radius: 8px;
  }

  &-title {
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
  }

  &-aside {
    margin-top: 20px;
  }

  &-list-item {
    list-style-type: none;
    padding: 0;

    strong {
      font-weight: 700;
    }
  }

  &-item {
    margin: 5px 0;
    font-size: 1em;
  }
}

.lol-navBar {
  background-color: $nav-background;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &-logo {
    width: 50px;
    margin-right: 50px;
  }

  &-list-item {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin-right: 50px;
  }

  &-item {
    color: $nav-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: $nav-hover-color;
    }
  }
}

.banner {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
  font-weight: bold;
}

.banner-info {
  background-color: #3498db;
  color: white;
}

.banner-warning {
  background-color: #f39c12;
  color: white;
}

.banner-error {
  background-color: #e74c3c;
  color: white;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid $nav-background;
  border-radius: $border-radius;
  font-size: 1em;
  color: $card-color;
  background-color: $card-background;

  &:focus {
      outline: none;
      border-color: $nav-hover-color;
  }
}

