@use './_variables.scss' as *;

body {
    margin: 0;
    background: $background-color;
    font-family: $font-family;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.lol-champ-card {
    background-color: $card-background;
    border-radius: $border-radius;
    color: $card-color;
    padding: $padding;
    max-width: $max-width;
    margin: $margin;
    box-shadow: $box-shadow;

    &-img {
        width: 100%;
        border-radius: $border-radius;
    }

    &-title {
        font-size: 1.5em;
        margin-top: 10px;
        text-align: center;
    }

    &-aside {
        margin-top: 20px;
    }

    &-list-item {
        list-style-type: none;
        padding: 0;

        strong {
            font-weight: 700;
        }
    }

    &-item {
        margin: 5px 0;
        font-size: 1em;
    }
}

.lol-navBar {
    background-color: $nav-background;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    &-logo {
        width: 50px;
        margin-right: 50px;
    }

    &-list-item {
        list-style-type: none;
        display: flex;
        gap: 15px;
        margin-right: 50px;
    }

    &-item {
        color: $nav-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: $nav-hover-color;
        }
    }
}